* { /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



.logo-img {
    width: 60px;
    height: 60px;
}


.header-container {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 30px; 
}

.header-logo {
    font-weight: bold; 
}

.header-options {
    display: flex;
    gap: 30px;
    
}

.header-options {
    display: flex;
    justify-content: flex-end; 
    text-decoration: none;
    align-items: center; 
    gap: 30px; 
}


.header-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
}


.header-option {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: black;
    
}


.header-button:hover {
    background-color: #3399ff;
}

.header-option:hover {
    color: #333344; /* Cambia el color al hacer hover */
}








.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.parrafoMain-1 {
        font-size: 18px;
        margin: 10px 0px;
        font-family: 'Inter', sans-serif;
        padding: 0px 357px;
        
    
}

.parrafoMain-2 {
    font-size: 18px;
    margin: 10px 0px;
    font-family: 'Inter', sans-serif;
    padding: 10px 200px;

}

.button {
    display: inline-block;
    padding: 10px 35px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}

.button:hover {
    background-color: #3399ff;
}


.flex-container {
    display: flex;
    align-items: center; 
    padding: 50px 200px;
    gap: 150px;
    background-color: #F7F7F8;
}

.flex-text {
    flex: 1; /* Permite que el texto ocupe todo el espacio disponible */
}



/* Estilos adicionales para la imagen */

.flex-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.flex-text {
    flex: 1; /* Permite que el texto ocupe todo el espacio disponible */
}


.flex-image img {
    width: 403px;
    height: 287px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.text-h2 {
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
}












ul {
    list-style: none;
  }
  
  .main {
    
    padding: 3em 1.5em;
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, 1.25em);
  }
  
  .cards {
    position: relative;
  }
  
.cards__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
  }
  
  .card {
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: black;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
.card__bullets {
    line-height: 1.4;
  }
  
.card__price {
    font-size: 1.75em;
    font-weight: 700;
  }
  
.cta {
    display: block;
    align-self: end;
    margin: 1em 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
  }
  
.cta:hover {
    background-color: #3399ff;
}

.flex-image .flex-image2 {
    background-color: white;
}